%section.about-section
  .container
    %h3
      "나만의 의제로
      %br.visible-xs
      나만의 정당을!"
    %p
      지속가능한 다이어트를 원하는 사람들이 모여 당을 만들 수 있을까요?<Br/>
      같은 골목에 사는 사람들이 모여
      %br.visible-xs
      당을 만들 수 있을까요?<br/>
      %br
      그 가능성을 상상하는 사람들이
      %br.visible-xs
      광장에 모입니다.<br/>
      새로운 정치를 위한 우리의 작당이 시작됩니다.<br/>
      누구나 자신만의 의제로 자신의 정치를
      %br.visible-xs
      할 수 있는 나만의 당 만들기!<br/>
      이를 통해 광장 너머 우리 삶
      %br.visible-xs
      구석구석에도 촛불이 켜집니다.<br/>
      %br
      7월 8일, 서울 광장에서
      %br.visible-xs
      나만의 작당을 시작해 보세요.<br/>
      시민들이 직접 변화시키  는
      %br.visible-xs
      정치가 시작됩니다.
