%section.about-section
  .container
    %h3
      "우리가 직접
      %br.visible-xs
      정치의 플레이어가
      %br.visible-xs
      되자!"
    %p
      유명한 정치인들만 정당을 만들 수 있다?<br/>
      우리는 이 질문에
      %span{style:"font-weight:600"}
        ‘아니오'
      라고 답합니다.<br/>
      %br
      누구나 자신의 정치를 하는 세상,
      %br.visible-xs
      그것이 민주주의입니다.<br/>
      일회용쓰레기줄인당, 우리가주인이당,
      %br.visible-xs
      18세투표권주당 등<br/>
      어떤 모습의 당도 환영합니다.<br/>
      %br
      시민이 직접 당을 만들고,
      %br.visible-xs
      더 나은 세상을 토론해요.<br/>
      7월 8일, 신나고 유쾌한
      %br.visible-xs
      작당 파티에서 만나요!

