%section.cover-section{style: "background-image:url(#{asset_url('cover-background4.png')});"}
  .container
    %h3
      | 시민작당 모의대회&nbsp;|
    %h1
      시민작당,<br/>
      광장에서<br/>
      모의하당
    %button.custom-btn{onclick:"window.open('https://zakdang.parti.xyz/')"}
      작당모의 라인업 보기
    %button.custom-btn{onclick:"window.open('https://goo.gl/H52fQJ')"}
      작당모의 신청하기
