%section.footer
  .container
    .info
      %span{style:"font-weight:bold"}
        주최 / 주관
      &nbsp;&nbsp;&nbsp;시민작당 준비 위원회
      %i.fa.fa-envelope-square
        contact@wouldyouparty.org
    .logo
