%section.footer
  .container
    .info{style:"float:left;"}
      %span{style:"font-weight:bold"}
        작당을 준비한 사람들
      &nbsp;&nbsp;&nbsp;
      갱
      %span.group
        우주당
      달리
      %span.group
        우주당
      베리
      %span.group
        우주당
      송스타
      %span.group
        지속가능다이어트당
      시스
      %span.group
        우주당
      쟁이
      %span.group
        (사)마을,마포파티
      정보연
      %span.group
        자유로운개인
      짱가
      %span.group
        예술로마을한당
      홍진아
      %span.group
        우주당
      %br
      %span{style:"font-weight:bold"}
        문의&nbsp;&nbsp;&nbsp;
      %a{href:"mailto:contact@wouldyouparty.org"}
        %i.fa.fa-envelope-square
          contact@wouldyouparty.org
    .logo{style:"float:right;"}
      %span{style:"font-weight:bold"}
        후원<br/>
      %image{src:"#{asset_url('logo2.png')}",width:"200px"}
