.cover-section{
  text-align:center;
  height:900px;
  background-size:cover;
  padding-top:200px;
  h1{
    color:$brand-color;
    font-size:70px;
    font-family: 'Nanum Myeongjo', serif;
    font-weight:600;
    line-height:90px;
  }
  h3{
    color:$brand-color;
    font-weight:200;
  }
}
