
.cover-section{
  text-align:center;
  height:600px;
  background-size:cover;
  padding-top:80px;
  h1{
    color:$brand-color;
    font-size:60px;
    font-family: 'Nanum Myeongjo', serif;
    font-weight:600;
    line-height:75px;
    span{
      color:$sub-color;
    }
  }
  h3{
    color:#656565;
    font-weight:600;
    font-size:15px;
    letter-spacing:0.2em;
  }
  @media (max-width: $screen-xs-max) {
    height:600px !important;
    padding-top:70px !important;
    background-image:url('mobile_bg.png') !important;
    background-color:#ffffff !important;
    background-size:contain !important;
    background-repeat:no-repeat;
    background-position:center;
  }
}
