section.footer{
  border-top:1px solid #eeeeee;
  background-color:#eeeeee;
  margin-top:35px;
  padding-bottom:35px;
  .container{
    padding-top:30px;
  }
  .group{
    font-size:10px;
    color:$brand-color;
  }
}
